{% extends 'base.html' %}

{% block content %}

<div class="max-w-xl mx-auto space-y-6">

{% for post in posts %}

<div class="bg-white rounded-lg shadow-md p-5">

    <h3 class="text-xl font-bold mb-2">
        {{ post.caption }}
    </h3>
    
    {% if post.image %}
    <img 
        src="{{ post.image.url }}" 
        alt="{{ post.caption }}"
        class="w-full h-96 object-cover rounded-lg mb-4"
    >
    {% endif %}

    <p class="text-gray-500 text-sm">
        Posted on {{ post.created_at|date:"M d, Y" }}
    </p>

    <p class="text-gray-600 mt-1">
        By {{ post.user.username }}
    </p>


    {% if post.user == request.user %}
    <div class="flex gap-3 mt-4">

        <a href="{% url 'edit-post' post.pk %}"
           class="bg-blue-600 text-white px-4 py-2 rounded-lg hover:bg-blue-700">
            ✏️ Edit
        </a>

        <a href="{% url 'delete-post' post.pk %}"
           class="bg-red-600 text-white px-4 py-2 rounded-lg hover:bg-red-700">
            🗑️ Delete
        </a>

    </div>
    {% endif %}

</div>

{% empty %}

<div class="text-center text-gray-500">
    No Posts yet
</div>

{% endfor %}

</div>

{% endblock %}